<html>
<form action="/predict_post" method="post">
  <div>
    <label for="average_montly_hours">average_montly_hours:</label>
    <input type="text" id="average_montly_hours" name="average_montly_hours">
  </div>

  <div>
    <label for="number_project">number_project:</label>
    <input type="text" id="number_project" name="number_project">
  </div>

  <div>
    <label for="last_evaluation">last_evaluation:</label>
    <input type="text" id="last_evaluation" name="last_evaluation">
  </div>

  <div>
    <label for="satisfaction_level">satisfaction_level:</label>
    <input type="text" id="satisfaction_level" name="satisfaction_level">
  </div>
 
  <div class="button">
    <button type="submit">Send your variables</button>
  </div>
</form>
</html>